<footer class="footer-basic">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#" style="border: 0;padding-bottom: 0px;"><img src="../assets/logo.png" style="width: 90px;"></a>
            <p class="copyright">Honduzon © 2022</p>
        </li>
        <li class="nav-item"><a class="nav-link" href="#" style="text-align: left;border-bottom-color: #aaaaaa;color: #4b4c4d;border-top: 0;border-right: 0;border-left: 0;font-weight: 700;">Nosotros</a>
            <div class="container">
                <div class="row" style="width: 162px;">
                    <div class="col-md-12" style="text-align: left;/*width: 162px;*/"><a href="#">¿Quiénes somos?</a></div>
                    <div class="col-md-12" style="text-align: left;/*width: 162px;*/"><a href="#">Misión</a></div>
                    <div class="col-md-12" style="text-align: left;/*width: 162px;*/"><a href="#">Visión</a></div>
                    <div class="col-md-12" style="text-align: left;/*width: 162px;*/"><a href="#">Desarrolladores</a></div>
                </div>
            </div>
        </li>
        <li class="nav-item" style="text-align: left;"><a class="nav-link" href="#" style="border-bottom-color: #aaaaaa;color: #4b4c4d;border-top: 0;border-left: 0;border-right: 0;font-weight: 700;">Soporte</a>
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><a href="#">Preguntas y respuestas</a></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><a href="#">Términos y condiciones</a></div>
                </div>
            </div>
        </li>
        <li class="nav-item" style="width: 350px;text-align: left;"><a class="nav-link" href="#" style="border-bottom-color: #aaaaaa;color: #4b4c4d;border-top: 0;border-right: 0;border-left: 0;font-weight: 700;">Categorías</a>
            <div class="container">
                <div class="row">
                    <div class="col-md-6"><a href="#">Tecnología</a></div>
                    <div class="col-md-6"><a href="#">Hogar</a></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><a href="#">Juguetes</a></div>
                    <div class="col-md-6"><a href="#">Gimnasio</a></div>
                    <div class="col-md-6"><a href="#">Muebles</a></div>
                    <div class="col-md-6" style="text-align: left;"></div>
                    <div class="col-md-6"><a href="#">Electrodomésticos</a></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </li>
    </ul>
</footer>
