<app-navbar></app-navbar>

<section>
  <div
    class="card"
    style="margin-top: 30px; height: 600px; border-radius: 20px"
  >
    <div
      class="card-body"
      style="
        border-radius: 20px;
        border-width: 1px;
        border-style: solid;
        padding: 0px;
      "
    >
      <header
        style="
          max-height: 100px;
          border-width: 1px;
          border-bottom-style: solid;
          border-radius: 20px;
          border-color: #343f4b;
          background: #969faa36;
          margin: 0px;
        "
      >
        <div class="container" style="max-height: 110px">
          <div class="row" style="max-height: 110px">
            <div
              class="col-md-6"
              style="width: 25%; text-align: right; max-height: 100px"
            >
              <img
                style="
                  transform: translateY(20px);
                  width: 170px;
                  height: 180px;
                  border-radius: 90px;
                  border-width: 1px;
                  border-style: solid;
                "
                src="../../../../assets/profile-pics/admin.jpg"
              />
            </div>
            <div
              class="col-md-6"
              style="width: 75%; padding-top: 40px; padding-left: 50px"
            >
              <strong style="font-size: 40px">Pedro Alejandro</strong>
            </div>
          </div>
        </div>
      </header>
      <main style="margin-top: 150px">
        <div class="container">
          <div class="row">
            <div class="col-md-3" style="text-align: center">
              <div
                type="button"
                (click)="openLG(contenido_denuncias)"
                id="card-module"
                class="card"
                style="
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 20px;
                  min-height: 300px;
                  max-height: 300px;
                "
              >
                <div class="card-body">
                  <strong style="font-size: 40px; color: #47525e"
                    >Denuncias</strong
                  ><img
                    src="../../../../assets/warning-removebg-preview.png"
                    style="width: 200px"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3" style="text-align: center">
              <div
                type="button"
                (click)="openLG(contenido)"
                id="card-module"
                class="card"
                style="
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 20px;
                  min-height: 300px;
                  max-height: 300px;
                "
              >
                <div class="card-body">
                  <strong style="font-size: 40px; color: #47525e"
                    >Categorías</strong
                  ><img
                    src="../../../../assets/completed-task.png"
                    style="width: 180px; margin-top: 15px"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3" style="text-align: center">
              <div
                id="card-module"
                class="card"
                style="
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 20px;
                  min-height: 300px;
                  max-height: 300px;
                "
              >
                <div class="card-body">
                  <strong style="font-size: 40px; color: #47525e"
                    >Anuncios</strong
                  ><img
                    src="../../../../assets/anuncio-emergente.png"
                    style="width: 200px; margin-top: 5px"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3" style="text-align: center">
              <div
                (click)="openLG(graficos)"
                id="card-module"
                class="card"
                style="
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 20px;
                  min-height: 300px;
                  max-height: 300px;
                "
              >
                <div class="card-body">
                  <strong style="font-size: 40px; color: #47525e"
                    >Estadisticas</strong
                  ><img
                    src="../../../../assets/analitica.png"
                    style="width: 180px; margin-top: 15px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>

<!-- Modal Category -->
<ng-template #contenido let-modal>
  <div
    class="modal-header"
    style="
      border-radius: 20px;
      border-width: 1px;
      border-bottom-style: solid;
      text-align: center;
    "
  >
    <strong
      style="
        font-size: 25px;
        text-shadow: 1px 1px black;
        margin-left: 15px;
        color: #00bce4;
      "
      >Categorias</strong
    >
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      style="margin-right: 15px"
    ></button>
  </div>
  <div class="modal-body" style="text-align: center">
    <div
      class="container"
      style="
        text-align: left;
        min-height: 150px;
        max-height: 4000px;
        overflow-y: scroll;
        margin-top: 15px;
      "
    >
      <div class="col">
        <div class="row" *ngFor="let cat of categories">
          <div
            (click)="openLG(contenido2, cat.NOMBRE_CATEGORIA, cat.ID_CATEGORIA)"
            (click)="modal.dismiss('Cross click')"
            id="cat"
            style="
              background: #e5e5e5;
              height: 35px;
              border-style: solid;
              border-width: 1px;
              border-color: #47525e63;
              padding: 5px 0px 0px 15px;
            "
          >
            <strong>{{ cat.NOMBRE_CATEGORIA }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-md-12">
          <button
            (click)="openLG(contenido3)"
            (click)="modal.dismiss('Cross click')"
            class="btn btn-primary"
            type="button"
            style="background: #00bce4; color: white; border: #00bce4"
          >
            Agregar categoria
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal actualizar o eliminar categoria -->
<ng-template #contenido2 let-modal>
  <div
    class="modal-header"
    style="
      border-radius: 20px;
      border-width: 1px;
      border-bottom-style: solid;
      text-align: center;
    "
  >
    <strong
      style="
        font-size: 25px;
        text-shadow: 1px 1px black;
        margin-left: 15px;
        color: #00bce4;
      "
      >Editar categoria</strong
    >
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      style="margin-right: 15px"
    ></button>
  </div>
  <div class="modal-body" style="text-align: center">
    <strong style="font-size: 25px; margin-left: 15px">{{
      categorysNameSelected
    }}</strong>
    <div class="container" style="margin-top: 15px">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <input type="file" style="margin-top: 20px" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button
                class="btn btn-success"
                (click)="actualizarCategoria()"
                type="button"
                style="
                  background: #13ce66;
                  min-width: 200px;
                  margin-top: 15px;
                  border-radius: 20px;
                  min-height: 75px;
                "
              >
                Actualizar
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button
                class="btn btn-danger"
                type="button"
                (click)="eliminarCategoria()"
                style="
                  background: #ff0005;
                  min-width: 200px;
                  margin-top: 15px;
                  border-radius: 20px;
                  min-height: 75px;
                "
              >
                [X] Eliminar
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row" style="margin-top: 20px">
            <div class="col">
              <input
                type="text"
                placeholder="Nombre Categoria"
                [(ngModel)]="newCategoryName"
                style="
                  border-radius: 20px;
                  min-width: 300px;
                  background: #eceff1;
                  border-color: #47525e36;
                  padding: 5px 15px 5px 15px;
                "
              />
            </div>
          </div>
          <div class="row" style="margin-top: 30px">
            <div class="col">
              <input
                type="text"
                placeholder="Ingrese una descripcion"
                [(ngModel)]="newCategoryDescription"
                style="
                  min-height: 150px;
                  border-radius: 20px;
                  min-width: 300px;
                  border-color: #47525e36;
                  background: #eceff1;
                "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-md-12">
          <button
            (click)="openLG(contenido)"
            (click)="modal.dismiss('Cross click')"
            class="btn btn-primary"
            type="button"
            style="background: #00bce4; color: white; border: #00bce4"
          >
            Regresar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal agregar categoria -->
<ng-template #contenido3 let-modal>
  <div
    class="modal-header"
    style="
      border-radius: 20px;
      border-width: 1px;
      border-bottom-style: solid;
      text-align: center;
    "
  >
    <strong
      style="
        font-size: 25px;
        text-shadow: 1px 1px black;
        margin-left: 15px;
        color: #00bce4;
      "
      >Agregar categoria</strong
    >
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      style="margin-right: 15px"
    ></button>
  </div>
  <div class="modal-body" style="text-align: center">
    <div class="container" style="margin-top: 15px">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <input type="file" style="margin-top: 20px" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button
                class="btn btn-info"
                type="button"
                (click)="addNewCategory()"
                style="
                  background: #00bce4;
                  min-width: 200px;
                  margin-top: 65px;
                  border-radius: 20px;
                  min-height: 75px;
                  color: white;
                "
              >
                Agregar categoria
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row" style="margin-top: 20px">
            <div class="col">
              <input
                type="text"
                placeholder="Nombre Categoria"
                [(ngModel)]="addNewCategoryName"
                style="
                  border-radius: 20px;
                  min-width: 300px;
                  background: #eceff1;
                  border-color: #47525e36;
                  padding: 5px 15px 5px 15px;
                "
              />
            </div>
          </div>
          <div class="row" style="margin-top: 30px">
            <div class="col">
              <input
                type="text"
                placeholder="Ingrese una descripcion"
                [(ngModel)]="addNewCategoryDescription"
                style="
                  min-height: 150px;
                  border-radius: 20px;
                  min-width: 300px;
                  border-color: #47525e36;
                  background: #eceff1;
                "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-md-12">
          <button
            (click)="openLG(contenido)"
            (click)="modal.dismiss('Cross click')"
            class="btn btn-primary"
            type="button"
            style="background: #00bce4; color: white; border: #00bce4"
          >
            Regresar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal Denuncias -->
<ng-template #contenido_denuncias let-modal>
  <div
    class="modal-header"
    style="
      border-radius: 20px;
      border-width: 1px;
      border-bottom-style: solid;
      text-align: center;
    "
  >
    <strong
      style="
        font-size: 25px;
        text-shadow: 1px 1px black;
        margin-left: 15px;
        color: #00bce4;
      "
      >Denuncias</strong
    >
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      style="margin-right: 15px"
    ></button>
  </div>
  <div class="modal-body" style="text-align: center">
    <div style="padding: 0px 20px 0px 10px">
      <div
        class="container"
        style="
          background: #00bce4;
          border-radius: 7px;
          padding: 5px 0px 5px 0px;
          font-size: 20px;
          text-shadow: 1px 1px white;
        "
      >
        <div class="row">
          <div class="col-md-6" style="text-align: center">
            <strong>Usuario</strong>
          </div>
          <div class="col-md-6" style="text-align: center">
            <strong>Asunto</strong>
          </div>
          <!-- <div class="col-md-4" style="text-align: center">
            <strong>Fecha</strong>
          </div> -->
        </div>
      </div>
    </div>
    <div style="padding: 0px 10px 0px 10px">
      <div
        class="container"
        style="
          text-align: left;
          min-height: 150px;
          max-height: 4000px;
          overflow-y: scroll;
          margin-top: 25px;
          font-size: 15px;
        "
      >
        <div
          class="row"
          type="button"
          *ngFor="let den of denuncias"
          (click)="openLG(contenido4, undefined, undefined, den.denunciasID)"
          (click)="modal.dismiss('Cross click')"
          id="cat"
          style="
            background: #e5e5e5;
            height: 35px;
            border-style: solid;
            border-width: 1px;
            border-color: #47525e63;
            overflow: hidden;
            max-height: 30px;
            padding-top: 5px;
            margin-bottom: 1px;
          "
        >
          <div
            class="col-md-6"
            style="
              text-align: left;
              border-right-style: solid;
              border-width: 1px;
              border-color: #47525e63;
            "
          >
            <strong>{{ den.NOMBRE }} {{ den.APELLIDO }}</strong>
          </div>
          <div
            class="col-md-6"
            style="
              text-align: left;
              border-right-style: solid;
              border-width: 1px;
              border-color: #47525e63;
            "
          >
            <strong>{{ den.motivo }}</strong>
          </div>
          <!-- <div class="col-md-4" style="text-align: center">
            <strong>12/06/2022</strong>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-md-12">
          <button
            (click)="modal.dismiss('Cross click')"
            class="btn btn-primary"
            type="button"
            style="background: #00bce4; color: white; border: #00bce4"
          >
            Volver
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal detalles denuncia -->
<ng-template #contenido4 let-modal>
  <div
    class="modal-header"
    style="
      border-radius: 20px;
      border-width: 1px;
      border-bottom-style: solid;
      text-align: center;
    "
  >
    <strong
      style="
        font-size: 25px;
        text-shadow: 1px 1px black;
        margin-left: 15px;
        color: #00bce4;
      "
      >Denuncias</strong
    >
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      style="margin-right: 15px"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container" style="margin-top: 15px">
      <div class="row" style="padding: 0px 15px 0px 15px">
        <div class="col-md-6" style="width: 70%">
          <strong style="text-align: left; margin-left: 18px">Asunto</strong>
          <div
            style="background: #eceff1; border-radius: 15px; border-width: 1px"
          >
            <p
              *ngIf="detalleDenunciaSeleccionada !== undefined"
              style="padding: 10px; text-align: justify"
            >
              {{ detalleDenunciaSeleccionada[0].motivo }}
            </p>
          </div>
        </div>
        <div class="col-md-6" style="width: 30%">
          <strong style="margin-left: 20px">Denunciado</strong>
          <div
            style="
              background: #eceff1;
              border-radius: 15px;
              border-width: 1px;
              text-align: center;
            "
          >
            <p style="padding: 10px">
              {{ detalleDenunciaSeleccionada[0].NOMBRE }}
              {{ detalleDenunciaSeleccionada[0].APELLIDO }}
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="margin-top: 15px">
            <strong style="margin-left: 15px">Detalles</strong>
            <p
              *ngIf="detalleDenunciaSeleccionada !== undefined"
              style="
                border-radius: 20px;
                border-width: 1px;
                border-style: dashed;
                padding: 15px;
                margin-top: 5px;
              "
            >
              {{ detalleDenunciaSeleccionada[0].descripcion }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-md-4">
          <button
            class="btn btn-success"
            type="button"
            (click)="ignoreReport()"
            style="
              color: white;
              background: #13ce66;
              border: #13ce66;
              min-width: 150px;
            "
          >
            Ignorar
          </button>
        </div>
        <div class="col-md-4">
          <button
            class="btn btn-danger"
            type="button"
            (click)="putUserDown(detalleDenunciaSeleccionada[0].denunciadoID)"
            style="color: white; background: #ff0005; min-width: 150px"
          >
            [X] Dar de baja
          </button>
        </div>
        <div class="col-md-4">
          <button
            (click)="openLG(contenido_denuncias)"
            (click)="modal.dismiss('Cross click')"
            class="btn btn-primary"
            type="button"
            style="
              background: #00bce4;
              color: white;
              border: #00bce4;
              min-width: 150px;
            "
          >
            Regresar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal graficos -->
<ng-template #graficos let-modal>
  <div
    class="modal-header"
    style="
      border-radius: 20px;
      border-width: 1px;
      border-bottom-style: solid;
      text-align: center;
    "
  >
    <strong
      style="
        font-size: 25px;
        text-shadow: 1px 1px black;
        margin-left: 15px;
        color: #00bce4;
      "
      >Estadisticas de la plataforma</strong
    >
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      style="margin-right: 15px"
    ></button>
  </div>
  <div class="modal-body" style="text-align: center">
    <div
      class="container"
      style="
        text-align: left;
        min-height: 150px;
        max-height: 4000px;
        overflow-y: scroll;
        margin-top: 15px;
      "
    >
      <div class="row">
        <div class="col">
          <div style="text-align: center">
            <strong
              style="
                font-size: 25px;
                text-shadow: 1px 1px #00bce4;
                margin-left: 15px;
                color: black;
              "
              >Categorias y sus datos</strong
            >
            <ngx-charts-advanced-pie-chart
              [view]="view"
              [results]="single"
              [gradient]="gradient"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-md-12">
          <button
            (click)="modal.dismiss('Cross click')"
            class="btn btn-primary"
            type="button"
            style="background: #00bce4; color: white; border: #00bce4"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
