<section>
  <div
    class="card"
    style="margin-top: 30px; height: 600px; border-radius: 20px"
  >
    <div
      class="card-body"
      style="
        border-radius: 20px;
        border-width: 1px;
        border-style: solid;
        padding: 0px;
      "
    >
      <header
        style="
          max-height: 100px;
          border-width: 1px;
          border-bottom-style: solid;
          border-radius: 20px;
          border-color: #343f4b;
          background: #969faa36;
          margin: 0px;
        "
      >
        <div class="container" style="max-height: 110px">
          <div class="row" style="max-height: 110px">
            <div
              class="col-md-6"
              style="width: 25%; text-align: right; max-height: 100px"
            >
              <img
                style="
                  transform: translateY(20px);
                  width: 170px;
                  height: 180px;
                  border-radius: 90px;
                  border-width: 1px;
                  border-style: solid;
                "
                src="../../../../assets/profile-pics/admin.jpg"
              />
            </div>
            <div
              class="col-md-6"
              style="width: 75%; padding-top: 40px; padding-left: 50px"
            >
              <strong style="font-size: 40px">Gerardo Varela </strong>
            </div>
          </div>
        </div>
      </header>
      <main style="margin-top: 150px">
        <div class="container">
          <div class="row">
            <div class="col-md-3" style="text-align: center">
              <div
                id="card-module"
                class="card"
                style="
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 20px;
                  min-height: 300px;
                  max-height: 300px;
                "
              >
                <div class="card-body">
                  <strong style="font-size: 40px; color: #47525e"
                    >Denuncias</strong
                  ><img
                    src="../../../../assets/warning-removebg-preview.png"
                    style="width: 200px"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3" style="text-align: center">
              <div
                id="card-module"
                class="card"
                style="
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 20px;
                  min-height: 300px;
                  max-height: 300px;
                "
              >
                <div class="card-body">
                  <strong style="font-size: 40px; color: #47525e"
                    >Categorías</strong
                  ><img
                    src="../../../../assets/completed-task.png"
                    style="width: 180px; margin-top: 15px"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3" style="text-align: center">
              <div
                id="card-module"
                class="card"
                style="
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 20px;
                  min-height: 300px;
                  max-height: 300px;
                "
              >
                <div class="card-body">
                  <strong style="font-size: 40px; color: #47525e"
                    >Anuncios</strong
                  ><img
                    src="../../../../assets/anuncio-emergente.png"
                    style="width: 200px; margin-top: 5px"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3" style="text-align: center">
              <div
                id="card-module"
                class="card"
                style="
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 20px;
                  min-height: 300px;
                  max-height: 300px;
                "
              >
                <div class="card-body">
                  <strong style="font-size: 40px; color: #47525e"
                    >Estadisticas</strong
                  ><img
                    src="../../../../assets/analitica.png"
                    style="width: 180px; margin-top: 15px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>
