
<app-navbar></app-navbar>

<div style="background: var(--bs-white);border-bottom-color: rgba(33,37,41,0);">
  <div class="row">
      <div class="col" style="border-bottom-color: rgba(33,37,41,0)!important;">
          <h1 style="text-align: center;font-size: 20px;color: #8190a5;">Honduzon una plataforma lider en compraventa de productos</h1>
      </div>
  </div>
</div>
<div style="height: 100%; background-color: #ECEFF1;">
  <div class="container" style="padding-top: 5px;">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;color: #47525e;">¿Qué buscas?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;"><small style="font-family: Karla, sans-serif;color: #8190a5;font-size: 16px;">Puedes escoger entre diferentes categorias y encontrar lo que estas buscando</small></div>
    </div>
  </div>
  <div class="container" style="padding-bottom: 30px;">
    <div class="row" style="text-align: right;">
        <div class="col"><button class="btn btn-primary" type="button" style="background: rgba(13,110,253,0);color: #00bce4;border-color: #00bce4;border-radius: 20px;font-weight: bold;height: 42px;">Refrescar categorías</button></div>
    </div>
    <div class="row">
        <div class="col" style="padding: 15px;border-radius: 20px;width: 300px;">
            <div class="card" style="border-radius: 20px;width: 300px;">
                <div class="card-body" style="border-radius: 20px;">
                    <h4 class="card-title"><img src="../assets/01.jpg" style="height: 180px;width: 270px;border-radius: 20px;" /></h4>
                    <h6 class="text-muted card-subtitle mb-2" style="padding-top: 10px;font-weight: bold;font-size: 18px;">VideoJuegos</h6>
                    <p class="card-text" style="text-align: justify;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#"><button class="btn btn-primary" type="button" style="background: rgba(13,110,253,0);color: #00bce4;border-color: #00bce4;border-radius: 20px;font-weight: bold;height: 42px;">Ver más<i class="fa fa-chevron-right" style="margin-left: 10px;"></i></button></a><a class="card-link" href="#"><button class="btn btn-primary" type="button" style="background: rgba(13,110,253,0);color: #00bce4;border-color: #00bce4;border-radius: 20px;font-weight: bold;height: 42px;">Suscribirme</button></a>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 15px;border-radius: 20px;width: 300px;">
            <div class="card" style="border-radius: 20px;width: 300px;">
                <div class="card-body" style="border-radius: 20px;">
                    <h4 class="card-title"><img src="../assets/02.jpg" style="height: 180px; width: 270px;border-radius: 20px;" /></h4>
                    <h6 class="text-muted card-subtitle mb-2" style="padding-top: 10px;font-weight: bold;font-size: 18px;">Camisetas</h6>
                    <p class="card-text" style="text-align: justify;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#"><button class="btn btn-primary" type="button" style="background: rgba(13,110,253,0);color: #00bce4;border-color: #00bce4;border-radius: 20px;font-weight: bold;height: 42px;">Ver más<i class="fa fa-chevron-right" style="margin-left: 10px;"></i></button></a><a class="card-link" href="#"><button class="btn btn-primary" type="button" style="background: rgba(13,110,253,0);color: #00bce4;border-color: #00bce4;border-radius: 20px;font-weight: bold;height: 42px;">Suscribirme</button></a>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 15px;border-radius: 20px;width: 300px;">
            <div class="card" style="border-radius: 20px;width: 300px;">
                <div class="card-body" style="border-radius: 20px;">
                    <h4 class="card-title"><img src="../assets/03.jpg" style="height: 180px; width: 270px;border-radius: 20px;" /></h4>
                    <h6 class="text-muted card-subtitle mb-2" style="padding-top: 10px;font-weight: bold;font-size: 18px;">Laptops</h6>
                    <p class="card-text" style="text-align: justify;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#"><button class="btn btn-primary" type="button" style="background: rgba(13,110,253,0);color: #00bce4;border-color: #00bce4;border-radius: 20px;font-weight: bold;height: 42px;">Ver más<i class="fa fa-chevron-right" style="margin-left: 10px;"></i></button></a><a class="card-link" href="#"><button class="btn btn-primary" type="button" style="background: rgba(13,110,253,0);color: #00bce4;border-color: #00bce4;border-radius: 20px;font-weight: bold;height: 42px;">Suscribirme</button></a>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 15px;border-radius: 20px;width: 300px;">
            <div class="card" style="border-radius: 20px;width: 300px;">
                <div class="card-body" style="border-radius: 20px;">
                    <h4 class="card-title"><img src="../assets/04.jpg" style="height: 180px; width: 270px;border-radius: 20px;" /></h4>
                    <h6 class="text-muted card-subtitle mb-2" style="padding-top: 10px;font-weight: bold;font-size: 18px;">Muebles</h6>
                    <p class="card-text" style="text-align: justify;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#"><button class="btn btn-primary" type="button" style="background: rgba(13,110,253,0);color: #00bce4;border-color: #00bce4;border-radius: 20px;font-weight: bold;height: 42px;">Ver más<i class="fa fa-chevron-right" style="margin-left: 10px;"></i></button></a><a class="card-link" href="#"><button class="btn btn-primary" type="button" style="background: rgba(13,110,253,0);color: #00bce4;border-color: #00bce4;border-radius: 20px;font-weight: bold;height: 42px;">Suscribirme</button></a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>