<div class="container" style="padding: 20px;">
    <div class="vendedoresdes" style="max-width: 500px;margin: 0 auto;text-align: center;">
        <h1 style="color: var(--bs-gray-600);">Vendedores Destacados</h1>
    </div>
    <div class="row vendedores">
        <div class="col" style="padding: 20px;">
            <div class="box" style="background-color: #d5eff9;border-radius: 20px;padding: 20px;">
                <div style="background-color: #dae3e7;border-radius: 20px;text-align: center;">
                    <div style="float: right;padding: 10px;"><a href="#"><img src="../../../../assets/advertencia.png" style="width: 40px;"></a></div><a href="#"><img src="../../../../assets/perfil.png" style="width: 250px;border-radius: 20px;"></a>
                </div>
                <div><a href="#" style="text-decoration: none;font-weight: 600;color: gray;">Gerardo Varela</a>
                    <div style="padding-top: 10px;"><a href="#" style="float: right;"><img src="../../../../assets/escribiendo.png" style="width: 60px;border-radius: 30px;background: #05f8b0;"></a><a href="#" style="text-decoration: none;color: #7d8285;"><img src="../../../../assets/location.png" style="width: 20px;margin-top: -8px;">Comayagua</a>
                        <div style="padding-top: 8px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 20px;">
            <div class="box" style="background-color: #d5eff9;border-radius: 20px;padding: 20px;">
                <div style="background-color: #dae3e7;border-radius: 20px;text-align: center;">
                    <div style="float: right;padding: 10px;"><a href="#"><img src="../../../../assets/advertencia.png" style="width: 40px;"></a></div><a href="#"><img src="../../../../assets/perfil.png" style="width: 250px;border-radius: 20px;"></a>
                </div>
                <div><a href="#" style="text-decoration: none;font-weight: 600;color: gray;">Jorge Varela</a>
                    <div style="padding-top: 10px;"><a href="#" style="float: right;"><img src="../../../../assets/escribiendo.png" style="width: 60px;border-radius: 30px;background: #05f8b0;"></a><a href="#" style="text-decoration: none;color: #7d8285;"><img src="../../../../assets/location.png" style="width: 20px;margin-top: -8px;">San Pedro Sula</a>
                        <div style="padding-top: 8px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 20px;">
            <div class="box" style="background-color: #d5eff9;border-radius: 20px;padding: 20px;">
                <div style="background-color: #dae3e7;border-radius: 20px;text-align: center;">
                    <div style="float: right;padding: 10px;"><a href="#"><img src="../../../../assets/advertencia.png" style="width: 40px;"></a></div><a href="#"><img src="../../../../assets/perfil.png" style="width: 250px;border-radius: 20px;"></a>
                </div>
                <div><a href="#" style="text-decoration: none;font-weight: 600;color: gray;">Darwin Rodas</a>
                    <div style="padding-top: 10px;"><a href="#" style="float: right;"><img src="../../../../assets/escribiendo.png" style="width: 60px;border-radius: 30px;background: #05f8b0;"></a><a href="#" style="text-decoration: none;color: #7d8285;"><img src="../../../../assets/location.png" style="width: 20px;margin-top: -8px;">La Ceiba</a>
                        <div style="padding-top: 8px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 20px;">
            <div class="box" style="background-color: #d5eff9;border-radius: 20px;padding: 20px;">
                <div style="background-color: #dae3e7;border-radius: 20px;text-align: center;">
                    <div style="float: right;padding: 10px;"><a href="#"><img src="../../../../assets/advertencia.png" style="width: 40px;"></a></div><a href="#"><img src="../../../../assets/perfil.png" style="width: 250px;border-radius: 20px;"></a>
                </div>
                <div><a href="#" style="text-decoration: none;font-weight: 600;color: gray;">José Amador</a>
                    <div style="padding-top: 10px;"><a href="#" style="float: right;"><img src="../../../../assets/escribiendo.png" style="width: 60px;border-radius: 30px;background: #05f8b0;"></a><a href="#" style="text-decoration: none;color: #7d8285;"><img src="../../../../assets/location.png" style="width: 20px;margin-top: -8px;">Trujillo</a>
                        <div style="padding-top: 8px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"><img src="../../../../assets/estrella.png" style="width: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
