<app-navbar (searchValue)="getProductos($event)"></app-navbar>

<div class="container" id="containerFilters">
    <div class="row justify-content-center">
        <div id="titleFilter">
            Filtros
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <ng-container *ngIf="idCategoryParam != undefined; else elseCategory">
                    <button class="btn btn-filter" id="dropdownCategory" ngbDropdownToggle>
                        {{categorias[idCategoryParam-1].NOMBRE_CATEGORIA}}
                    </button>
                </ng-container>
                <ng-template #elseCategory>
                    <button class="btn btn-filter" id="dropdownCategory" ngbDropdownToggle>
                        Categoría
                    </button>
                </ng-template>
                <div ngbDropdownMenu aria-labelledby="dropdownCategory">
                    <button ngbDropdownItem *ngFor="let cat of categorias" (click)="updateCategory(cat.ID_CATEGORIA)">{{cat.NOMBRE_CATEGORIA}}</button>
                    <button ngbDropdownItem *ngIf="categorias" style="color:red" (click)="updateCategory(-1)">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-filter" id="dropdownPrecio" ngbDropdownToggle>
                    Precio
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownPrecio" style="padding: 20%">
                    <form [formGroup]="sliderForm">
                        <ngx-slider formControlName="sliderControl" [options]="options"></ngx-slider>
                    </form>
                    <br>
                    <button ngbDropdownItem 
                            class="btn-apply" 
                            (click)="updatePrice(1)">
                            Aplicar
                    </button>
                    <button ngbDropdownItem 
                            class="btn-apply" 
                            style="background-color: tomato; border-color: tomato!important;" 
                            (click)="updatePrice(-1)">
                            Cancelar
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <ng-container *ngIf="idLocationParam != undefined; else elseLocation">
                    <button class="btn btn-filter" id="dropdownLocation" ngbDropdownToggle>
                        {{deptos[idLocationParam-1].NOMBRE_DEPARTAMENTO}}
                    </button>
                </ng-container>
                <ng-template #elseLocation>
                    <button class="btn btn-filter" id="dropdownLocation" ngbDropdownToggle>
                        Ubicación
                    </button>
                </ng-template>
                <div ngbDropdownMenu aria-labelledby="dropdownLocation">
                    <button ngbDropdownItem *ngFor="let dep of deptos" (click)="updateLocation(dep.ID_DEPARTAMENTO)">{{dep.NOMBRE_DEPARTAMENTO}}</button>
                    <button ngbDropdownItem *ngIf="deptos" style="color:red" (click)="updateLocation(-1)">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ul class="fullclick">
    <li>
        <h2>Dogs</h2>
        <p>
        Dogs are excellent, and good people. If want to browse dogs
        by breed, check <a href="https://codepo8.github.io/dog-browser/">
        The dog browser</a>. Almost all dogs are good boys and girls. 
        </p>
        <a href="#" class="main">More dog news</a>
        <button title="click to close" aria-label="click to close">x</button>
    </li>
    <li>
        <h2>Wombats</h2>
        <p>
        Wombats are cute as buttons and digging machines. They look always
        chill and jolly, but aren't a good idea to keep in the house.
        </p>
        <a href="#" class="main">More wombat info</a>
        <button title="click to close" aria-label="click to close">x</button>
    </li>
</ul> -->

<ng-container *ngIf="productos.length == 0 && petitionMade === true; else elseHayProductos">
    <section style="text-align: center; margin: 5% 0%;">
        <img src="../../../../assets/Sad_Periquin.png"/>
        <h1 style="margin-top: 5px;">¡Upss! Parece que no hay nada por aquí<br /></h1>
        <p style="color: #47525e;">
            Parece que por el momento lo que buscas no se encuentra en<br />
            Honduzon. Mientras tanto, ¿por qué no echas un vistazo al resto de <br />
            productos?
        </p>
        <!-- <button class="btn btn-primary" type="button" style="background: #00bce4;color: #ffffff;border-color: #00bce4;border-radius: 20px;font-weight: bold;height: 42px;margin-top: 10px;">
            Iniciar nueva búsqueda
        </button> -->
    </section>
</ng-container>
<ng-template #elseHayProductos>
    <section class="cardsProducts">
        <div class="row" style="margin: 0 5%">
            <div *ngFor="let item of productos" class="col-xl-3 col-lg-4 col-md-6 col-sm-12" style="padding: 15px; border-radius: 20px">
                <app-card-products [item]="item"></app-card-products>
            </div>
        </div>
    </section>
</ng-template>

<app-footer></app-footer>