#containerFilters{
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    background-color:white; 
    text-align: center;
    border-radius: 20px;
    border-color: #5C636A;
}

#titleFilter{
    width: 30%;
    color: white; 
    background-color: #00BCE4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}

.btn-filter{
    border-color: #5C636A;
    border-radius: 20px;
    color: #5C636A;
    box-shadow: none;
}

.btn-apply {
    background: #00bce4;
    color: #ffffff;
    border-color: #00bce4;
    border-radius: 20px;
    font-weight: bold;
    max-width: 30%;
    text-align: center;
    margin-top: 1%;
}

.fullclick li {
  list-style: none;
  margin: 1em 0;
  padding: 20px 10px;
  background: #2b2b2b;
  position: relative;
}
.fullclick a.main {
  color: #85baff;
  text-align: right;
  display: block;
  z-index: 1;
}
.fullclick li a.main::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
}