<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModalLogin.dismiss('Cross click')"></button>
</div>
<div class="modal-body col" style="text-align: center;">
    <div class="row" style="padding-bottom: 20px;">
        <h2 class="modal-title">¡Bienvenido!</h2>
        <small>Estamos felices de tenerte de vuelta.</small>
    </div>
    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Correo electrónico</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Contraseña</label>
    </div>
    <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
    <a id="texto" href="#">Recuperar Contraseña</a>
    <small style="color: #8190A5">|</small>
    <a id="texto" href="#" (click)="openRegister()">Regístrate</a>
    
    <div class="row">
        <small style="margin-top: 40px;">Al iniciar estás aceptando nuestros</small>
    </div>
    
    <small style="margin-bottom: 30px">
        <a id="texto" style="padding: 0px!important" href="#">Términos</a>
        y
        <a id="texto" style="padding: 0px!important" href="#">Condiciones</a>
    </small>
</div>
