<nav id="navbar" class="navbar navbar-light navbar-expand-lg navigation-clean">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img id="logo" src="../assets/logo.png" />
    </a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navcol-1"
    >
      <span class="visually-hidden"> Toggle navigation </span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcol-1" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <form [formGroup]="searchForm">
            <input
              id="busqueda"
              formControlName="searchInput"
              type="search"
              placeholder="Buscar artículos"
            />
            <button
              type="submit"
              class="btn btn-link"
              style="box-shadow: none"
              (click)="search()"
              [disabled]="
                searchInput!.value === null || searchInput!.value === ''
              "
            >
              <i
                id="icono-lupa"
                style="margin: 0 !important"
                class="fas fa-search"
              ></i>
            </button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!cookieToken; else verifyLoggedUser">
          <li class="nav-item" style="padding-top: 8px">
            <a role="button" (click)="open(contentLog)">
              <i id="icono-mensaje" class="far fa-paper-plane"></i>
            </a>
          </li>
          <li class="nav-item">
            <a
              id="mensaje"
              class="nav-link"
              role="button"
              (click)="open(contentLog)"
              >Mensaje</a
            >
          </li>
          <li class="nav-item">
            <button
              id="btn-registro"
              class="btn btn-primary"
              type="button"
              (click)="open(contentReg)"
            >
              ¡Regístrate!
            </button>
          </li>
          <li class="nav-item" style="margin-left: 5px">
            <button
              id="btn-subirProducto"
              class="btn btn-primary"
              type="button"
              (click)="open(contentLog)"
            >
              Inicia Sesión
            </button>
          </li>
          <li class="nav-item" style="margin-left: 5px">
            <button
              id="btn-subirProducto"
              class="btn btn-primary"
              type="button"
              (click)="open(contentLog)"
            >
              <i class="fas fa-plus-circle" style="margin-right: 5px"></i>
              Subir producto
            </button>
          </li>
        </ng-container>
        <ng-template #verifyLoggedUser>
          <ng-container *ngIf="loggedUser !== undefined && loggedUserAdmin === undefined; else adminGotLogged">
            <li class="nav-item" style="padding-top: 8px">
              <a routerLink="/chat">
                <i id="icono-mensaje" class="far fa-paper-plane"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                  *ngIf="loggedUser !== undefined"
                  routerLink="/chat/user/{{loggedUser.idUsuario}}" 
                  id="mensaje" 
                  class="nav-link">
                Mensaje
              </a>
            </li>
            <li class="nav-item">
              <!-- <i class="far fa-user-circle" style="color: #00BCE4; margin-left: 5px; margin-right: 5px; font-size: 40px"></i> -->
              <img *ngIf="loggedUser !== undefined"
                    src="../../../assets/profile-pics/user_{{loggedUser.idUsuario}}.jpg" 
                    alt="user_img"
                    style="border-radius: 30px; width: 40px; height: 45px; margin-right: 5px"/>
            </li>
            <div ngbDropdown style="padding-top: 9px; margin-right: 5px">
              <a
                id="dropdownUser"
                ngbDropdownToggle
                *ngIf="loggedUser !== undefined"
                style="
                  font-size: 18px;
                  color: #00bce4;
                  font-weight: bold;
                  text-decoration: none;
                "
              >
                {{ loggedUser.nombreCompleto }}
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownUser" *ngIf="loggedUser !== undefined">
                <a ngbDropdownItem routerLink="/profile/user/{{loggedUser.idUsuario}}">Mi perfil</a>
                <a ngbDropdownItem (click)="logout(contentSuccess)">Cerrar Sesión</a>
              </div>
            </div>
            <li class="nav-item" style="margin-left: 5px">
              <button
                id="btn-subirProducto"
                class="btn btn-primary"
                type="button"
                (click)="open(contentAddProduct)"
              >
                <i class="fas fa-plus-circle" style="margin-right: 5px"></i
                >Subir producto
              </button>
            </li>
            <li class="nav-item" style="padding-top: 8px">
              <!-- <a routerLink="/chat"> -->
              <a role="button" (click)="open(contentWishList)">
                <i id="iconBookmark" class="fas fa-bookmark"></i>
              </a>
            </li>
          </ng-container>
          <ng-template #adminGotLogged>
            <li class="nav-item">
              <i
                class="far fa-user-circle"
                style="
                  color: #00bce4;
                  margin-left: 5px;
                  margin-right: 5px;
                  font-size: 40px;
                "
              ></i>
            </li>
            <li class="nav-item">
              <!-- <i class="far fa-user-circle" style="color: #00BCE4; margin-left: 5px; margin-right: 5px; font-size: 40px"></i> -->
              <img src="../../../assets/profile-pics/admin.jpg" 
                    alt="admin_img"
                    style="border-radius: 30px; width: 40px; height: 45px; margin-right: 5px"/>
            </li>
            <div ngbDropdown style="padding-top:9px; margin-right:5px">
              <a
                id="dropdownUser"
                ngbDropdownToggle
                href="#"
                style="
                  font-size: 18px;
                  color: #00bce4;
                  font-weight: bold;
                  text-decoration: none;
                "
              >
                Pedro Alejandro
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownUser">
                <a ngbDropdownItem (click)="logout(contentSuccess)">Cerrar Sesión</a>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal Login -->
<ng-template #contentLog let-modalLog>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalLog.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body col" style="text-align: center">
    <div class="row" style="padding-bottom: 20px">
      <h2 class="modal-title">¡Bienvenido!</h2>
      <small>Estamos felices de tenerte de vuelta.</small>
    </div>

    <form [formGroup]="loginForm">
      <div class="form-floating">
        <input
          type="email"
          formControlName="formEmailLogin"
          class="border-bottom-custom form-control"
          id="floatingInputLogin"
          placeholder="name@example.com"
        />
        <label for="floatingInputLogin">Correo electrónico</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          formControlName="formPasswordLogin"
          class="border-bottom-custom form-control"
          id="floatingPasswordLogin"
          placeholder="Password"
        />
        <label for="floatingPasswordLogin">Contraseña</label>
      </div>
      <button
        id="btn-modal"
        class="btn btn-primary btn-blue-animate"
        type="submit"
        (click)="login(contentSuccess)"
      >
        Iniciar Sesión
      </button>
      <div *ngIf="hayError" class="alert alert-danger">
        Correo o contraseña incorrecta.
      </div>
    </form>
    <a id="texto" href="#" (click)="open(contentRecover, true)"
      >Recuperar Contraseña</a
    >
    <small style="color: #8190a5">|</small>
    <a id="texto" href="#" (click)="open(contentReg, true)">Regístrate</a>

    <div class="row">
      <small style="margin-top: 40px"
        >Al iniciar estás aceptando nuestros</small
      >
    </div>

    <small style="margin-bottom: 30px">
      <a id="texto" style="padding: 0px !important" href="#">Términos</a>
      y
      <a id="texto" style="padding: 0px !important" href="#">Condiciones</a>
    </small>
  </div>
</ng-template>

<!-- Modal Registro -->
<ng-template #contentReg let-modalReg>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalReg.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body col" style="text-align: center">
    <!-- Título y Subtítulo -->
    <div class="row" style="padding-bottom: 20px">
      <h2 class="modal-title">¡Regístrate!</h2>
      <small>Ingresa tus datos.</small>
    </div>

    <form [formGroup]="registerForm">
      <!-- Zona Inputs -->
      <div class="form-floating">
        <input
          type="text"
          formControlName="formName"
          class="border-bottom-custom form-control"
          id="floatingName"
          placeholder="Nombre"
          [class.is-invalid]="formName!.invalid && formName!.touched"
        />
        <label for="floatingName">Nombre*</label>
        <div class="invalid-feedback">Campo obligatorio.</div>
      </div>

      <div class="form-floating">
        <input
          type="text"
          formControlName="formLastName"
          class="border-bottom-custom form-control"
          id="floatingLastName"
          placeholder="Apellido"
          [class.is-invalid]="formLastName!.invalid && formLastName!.touched"
        />
        <label for="floatingLastName">Apellido*</label>
        <div class="invalid-feedback">Campo obligatorio.</div>
      </div>

      <div class="form-floating">
        <input
          type="email"
          formControlName="formEmail"
          class="border-bottom-custom form-control"
          id="floatingEmail"
          placeholder="nombre@ejemplo.com"
          pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$"
          [class.is-invalid]="formEmail!.invalid && formEmail!.touched"
        />
        <label for="floatingEmail">Correo electrónico*</label>
        <div class="invalid-feedback">
          <ng-container *ngIf="formEmail!.dirty; else elseTemplate">
            Patrón incorrecto. Ejemplo: abc_d1@efgh.ijk
          </ng-container>
          <ng-template #elseTemplate> Campo obligatorio. </ng-template>
        </div>
      </div>

      <div class="form-floating">
        <input
          type="password"
          formControlName="formPassword"
          class="border-bottom-custom form-control"
          id="floatingPassword"
          placeholder="Contraseña"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])([A-Za-z\d$@$!%*?&]|[^ ]){8,16}$"
        />
        <label for="floatingPassword">Contraseña*</label>
      </div>
      <div
        *ngIf="
          formPassword!.invalid &&
          (formPassword!.dirty || formPassword!.touched)
        "
        class="invalid-feedback-select"
      >
        <div *ngIf="formPassword!.invalid && formPassword!.touched">
          Campo Obligatorio.
        </div>
        <div *ngIf="formPassword!.invalid && formPassword!.dirty">
          La contraseña debe ser de 8-16 caracteres y tener al menos 1
          mayúscula, minúscula, número y caracter no alfanumérico.
        </div>
      </div>

      <div class="form-floating">
        <input
          type="password"
          formControlName="formVPassword"
          class="border-bottom-custom form-control"
          id="floatingVPassword"
          placeholder="Verificar Contraseña"
        />
        <label for="floatingPassword">Verificar Contraseña*</label>
      </div>
      <div
        *ngIf="
          formVPassword!.invalid &&
          (formVPassword!.dirty || formVPassword!.touched)
        "
        class="invalid-feedback-select"
      >
        <div *ngIf="formVPassword!.touched && getConfirmPasswordError() == 1">
          Campo Obligatorio.
        </div>
        <div *ngIf="formVPassword!.dirty && getConfirmPasswordError() == 2">
          La contraseña no coincide.
        </div>
      </div>

      <div class="form-floating">
        <input
          type="tel"
          formControlName="formPhone"
          class="border-bottom-custom form-control"
          id="floatingPhone"
          placeholder="nombre@ejemplo.com"
          pattern="[0-9]{4}-[0-9]{4}"
          [class.is-invalid]="
            formPhone!.invalid && (formPhone!.touched || formPhone!.dirty)
          "
        />
        <label for="floatingPhone">Teléfono*</label>
        <div class="invalid-feedback">
          <ng-container *ngIf="formPhone!.dirty; else elseTemplate">
            Patrón incorrecto. Ejemplo: 1234-5678
          </ng-container>
          <ng-template #elseTemplate> Campo obligatorio. </ng-template>
        </div>
      </div>

      <select
        class="border-bottom-custom form-select-reg"
        aria-label="Departamento"
        ngModel
        formControlName="formDept"
      >
        <option value="" disabled>Departamento*</option>
        <option *ngFor="let dep of deptos" value="{{ dep.ID_DEPARTAMENTO }}">
          {{ dep.NOMBRE_DEPARTAMENTO }}
        </option>
        <!-- <option *ngFor="let dep of deptos; let i=index" value="{{ i+1 }}">
          {{ dep }}
        </option> -->
      </select>
      <div
        *ngIf="formDept!.invalid && (formDept!.dirty || formDept!.touched)"
        class="invalid-feedback-select"
      >
        <div *ngIf="formDept!.errors?.['required']">Campo Obligatorio.</div>
      </div>

      <select
        class="border-bottom-custom form-select-reg"
        aria-placeholder="ciudad"
        ngModel
        formControlName="formCity"
      >
        <option value="" disabled>Ciudad*</option>
        <option *ngFor="let cit of ciudades" value="{{ cit.ID_CIUDAD }}">
          {{ cit.CIUDAD }}
        </option>
      </select>
      <div
        *ngIf="formCity!.invalid && (formCity!.dirty || formCity!.touched)"
        class="invalid-feedback-select"
      >
        <div *ngIf="formCity!.errors?.['required']">Campo Obligatorio.</div>
      </div>

      <select
        class="border-bottom-custom form-select-reg"
        ngModel
        aria-label="Preguntas"
        formControlName="formPreg"
      >
        <option value="" disabled>Preguntas*</option>
        <option *ngFor="let preg of preguntas" value="{{ preg.ID_PREGUNTA }}">
          {{ preg.PREGUNTA }}
        </option>
      </select>
      <div
        *ngIf="formPreg!.invalid && (formPreg!.dirty || formPreg!.touched)"
        class="invalid-feedback-select"
      >
        <div *ngIf="formPreg!.errors?.['required']">Campo Obligatorio.</div>
      </div>

      <div class="form-floating">
        <input
          type="text"
          formControlName="formResp"
          class="border-bottom-custom form-control"
          id="floatingResp"
          placeholder="Respuesta"
          [class.is-invalid]="formResp!.invalid && formResp!.touched"
        />
        <label for="floatingResp">Respuesta*</label>
        <div class="invalid-feedback">Campo obligatorio.</div>
      </div>

      <div class="form-floating">
        <input
          type="text"
          formControlName="formDirection"
          class="border-bottom-custom form-control"
          id="floatingDirection"
          placeholder="Dirección"
        />
        <label for="floatingDirection">Dirección</label>
      </div>

      <!-- Términos y Condiciones -->
      <div class="form-check">
        <input
          formControlName="formTerms"
          class="form-check-input"
          type="checkbox"
          id="flexCheckDefault"
        />
        <label class="form-check-label">
          He leído y acepto los
          <a
            role="button"
            (click)="open(contentTermsConds)"
            style="color: #00bce4"
            >Términos</a
          >
          y
          <a
            role="button"
            (click)="open(contentTermsConds)"
            style="color: #00bce4"
            >Condiciones</a
          >
          de Honduzon.
        </label>
      </div>

      <!-- Botón Registrarse -->
      <button
        id="btn-modal"
        class="btn btn-primary btn-blue-animate"
        type="submit"
        [disabled]="registerForm.invalid"
        (click)="register(contentSuccess)"
      >
        Regístrate
      </button>
    </form>

    <!-- Inicia Sesión -->
    <div class="row" style="margin-bottom: 10px">
      <a id="texto" href="#" (click)="open(contentLog, true)">Inicia Sesión</a>
    </div>
  </div>
</ng-template>

<!-- Modal Términos y Condiciones-->
<ng-template #contentTermsConds let-modalTermsConds>
  <div
    id="modal-1"
    class="modal fade show"
    role="dialog"
    tabindex="-1"
    style="display: block"
    aria-hidden="true"
    aria-labelledby="titulo-honduzon"
  >
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="titulo-honduzon">
            <img src="../../../assets/logo.png" style="width: 40px" />
            Honduzon
          </h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modalTermsConds.dismiss('Cross click')"
          ></button>
          <!-- <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <h1 class="title-terms-conds">
            <strong>Términos y Condiciones de Uso</strong><br />
          </h1>
          <p>
            <strong>INFORMACIÓN RELEVANTE</strong><br />Es requisito necesario
            para la adquisición de los productos que se ofrecen en este sitio,
            que lea y acepte los siguientes Términos y Condiciones que a
            continuación se redactan. El uso de nuestros servicios así como la
            compra de nuestros productos implicará que usted ha leído y aceptado
            los Términos y Condiciones de Uso en el presente documento. Todas
            los productos  que son ofrecidos por nuestro sitio web pudieran ser
            creadas, cobradas, enviadas o presentadas por una página web tercera
            y en tal caso estarían sujetas a sus propios Términos y Condiciones.
            En algunos casos, para adquirir un producto, será necesario el
            registro por parte del usuario, con ingreso de datos personales
            fidedignos y definición de una contraseña. El usuario puede elegir y
            cambiar la clave para su acceso de administración de la cuenta en
            cualquier momento, en caso de que se haya registrado y que sea
            necesario para la compra de alguno de nuestros productos.
            honduzon.com no asume la responsabilidad en caso de que entregue
            dicha clave a terceros. Todas las compras y transacciones que se
            lleven a cabo por medio de este sitio web, están sujetas a un
            proceso de confirmación y verificación, el cual podría incluir la
            verificación del stock y disponibilidad de producto, validación de
            la forma de pago, validación de la factura (en caso de existir) y el
            cumplimiento de las condiciones requeridas por el medio de pago
            seleccionado. En algunos casos puede que se requiera una
            verificación por medio de correo electrónico. Los precios de los
            productos ofrecidos en esta Tienda Online es válido solamente en las
            compras realizadas en este sitio web<br /><br /><strong
              >LICENCIA</strong
            ><br />HONDUZON a través de su sitio web concede una licencia para
            que los usuarios utilicen  los productos que son vendidos en este
            sitio web de acuerdo a los Términos y Condiciones que se describen
            en este documento.<br /><br /><strong>USO NO AUTORIZADO</strong
            ><br />En caso de que aplique (para venta de software, templetes, u
            otro producto de diseño y programación) usted no puede colocar uno
            de nuestros productos, modificado o sin modificar, en un CD, sitio
            web o ningún otro medio y ofrecerlos para la redistribución o la
            reventa de ningún tipo.<br /><br /><strong>PROPIEDAD</strong
            ><br />Usted no puede declarar propiedad intelectual o exclusiva a
            ninguno de nuestros productos, modificado o sin modificar. Todos los
            productos son propiedad  de los proveedores del contenido. En caso
            de que no se especifique lo contrario, nuestros productos se
            proporcionan  sin ningún tipo de garantía, expresa o implícita. En
            ningún esta compañía será  responsables de ningún daño incluyendo,
            pero no limitado a, daños directos, indirectos, especiales,
            fortuitos o consecuentes u otras pérdidas resultantes del uso o de
            la imposibilidad de utilizar nuestros productos.<br /><br /><strong
              >POLÍTICA DE REEMBOLSO Y GARANTÍA</strong
            ><br />En el caso de productos que sean  mercancías irrevocables
            no-tangibles, no realizamos reembolsos después de que se envíe el
            producto, usted tiene la responsabilidad de entender antes de
            comprarlo.  Le pedimos que lea cuidadosamente antes de comprarlo.
            Hacemos solamente excepciones con esta regla cuando la descripción
            no se ajusta al producto. Hay algunos productos que pudieran tener
            garantía y posibilidad de reembolso pero este será especificado al
            comprar el producto. En tales casos la garantía solo cubrirá fallas
            de fábrica y sólo se hará efectiva cuando el producto se haya usado
            correctamente. La garantía no cubre averías o daños ocasionados por
            uso indebido. Los términos de la garantía están asociados a fallas
            de fabricación y funcionamiento en condiciones normales de los
            productos y sólo se harán efectivos estos términos si el equipo ha
            sido usado correctamente. Esto incluye:– De acuerdo a las
            especificaciones técnicas indicadas para cada producto.<br />– En
            condiciones ambientales acorde con las especificaciones indicadas
            por el fabricante.<br />– En uso específico para la función con que
            fue diseñado de fábrica.<br />– En condiciones de operación
            eléctricas acorde con las especificaciones y tolerancias
            indicadas.<br /><br /><strong>COMPROBACIÓN ANTIFRAUDE</strong
            ><br />La compra del cliente puede ser aplazada para la comprobación
            antifraude. También puede ser suspendida por más tiempo para una
            investigación más rigurosa, para evitar transacciones
            fraudulentas.<br /><br /><strong>PRIVACIDAD</strong><br />Este
            honduzon.com garantiza que la información personal que usted envía
            cuenta con la seguridad necesaria. Los datos ingresados por usuario
            o en el caso de requerir una validación de los pedidos no serán
            entregados a terceros, salvo que deba ser revelada en cumplimiento a
            una orden judicial o requerimientos legales. La suscripción a
            boletines de correos electrónicos publicitarios es voluntaria y
            podría ser seleccionada al momento de crear su cuenta.<br /><br />HONDUZON
            reserva los derechos de cambiar o de modificar estos términos sin
            previo aviso.
          </p>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-light"
            style="border-radius: 20px"
            type="button"
            (click)="modalTermsConds.dismiss()"
          >
            Cancelar
          </button>
          <!-- <button class="btn btn-primary btn-accept-terms-conds" style="border-radius: 20px" type="button"> -->
          <button
            class="btn btn-primary btn-accept-terms-conds"
            style="border-radius: 20px"
            type="button"
            (click)="formTerms!.setValue(true); modalTermsConds.dismiss()"
          >
            Aceptar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal Wish List -->
<ng-template #contentWishList let-modalWishList>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalWishList.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body col" style="text-align: center; margin-bottom: 10px">
    <div class="row" style="padding-bottom: 20px">
      <h4 class="modal-title">Lista de Deseos</h4>
    </div>

    <div class="row" style="text-align: left; margin-left: 50px">
      <li>Probando</li>
    </div>
  </div>
</ng-template>

<!-- Modal Recuperar Contraseña -->
<ng-template #contentRecover let-modalRecover>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRecover.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body col" style="text-align: center">
    <div class="row" style="padding-bottom: 20px">
      <h2 class="modal-title">Recuperar Contraseña</h2>
      <small>Recibirás un correo con tu nueva contraseña.</small>
    </div>

    <form [formGroup]="recoverForm">
      <div class="form-floating">
        <input
          type="email"
          formControlName="formEmailRecover"
          class="border-bottom-custom form-control"
          id="floatingEmailRecover"
          placeholder="name@example.com"
          pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$"
          [class.is-invalid]="
            formEmailRecover!.touched && formEmailRecover!.invalid
          "
        />
        <label for="formEmailRecover">Correo electrónico</label>
        <div class="invalid-feedback">Campo obligatorio.</div>
      </div>

      <button
        id="btn-modal"
        class="btn btn-primary btn-blue-animate"
        type="submit"
        [disabled]="
          formEmailRecover!.value === null || formEmailRecover!.value === ''
        "
        (click)="recoverByEmail(contentSuccess)"
      >
        Enviar Correo
      </button>
      <div *ngIf="correoRegistrado === false" class="alert alert-danger">
        Este correo no está registrado en la plataforma.
      </div>
    </form>
  </div>
</ng-template>

<!--Modal Success-->
<ng-template #contentSuccess let-modalSuccess>
  <div
    class="modal-body success-modal"
    style="text-align: center; border-radius: 20px"
  >
    <p><br />{{ successMsg }} con éxito</p>
  </div>
</ng-template>

<!-- Modal Subir producto -->
<ng-template #contentAddProduct let-modalAddProduct>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalAddProduct.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body col" style="text-align: center">
    <!-- Título y Subtítulo -->

    <div class="row" style="padding-bottom: 20px">
      <h2 class="modal-title">¡Sube un producto!</h2>
      <small style="color: #8190a5"
        >Solo ingresa los datos correspondientes <br />¡Así de fácil!</small
      >
    </div>
    <div class="container" style="margin-top: 15px; padding: 0px 15px 0px 15px">
      
      <form [formGroup]="uploadForm">
        <!-- Nombre del producto -->
        <div class="row" style="padding-bottom: 20px">
          <div class="col">
            <input
              type="text"
              class="form-control"
              formControlName="formProdName"
              id="formGroupExampleInput"
              placeholder="Nombre del producto"
              [class.is-invalid]="formProdName!.invalid && formProdName!.touched"
            />
            <div class="invalid-feedback">
              Campo obligatorio.
            </div>
          </div>
        </div>
        <!-- Precio y Estado del producto -->
        <div class="row" style="padding-bottom: 15px">
          <div class="col">
            <label for="inputCity" class="form-label"
            >Establece un precio (Lps.)</label
          >
            <input
              type="number"
              min="1"
              max="500000"
              class="form-control"
              formControlName="formPrice"
              id="inputCity"
              placeholder="Establece un precio"
              [class.is-invalid]="formPrice!.invalid && formPrice!.touched"
            />
            <div class="invalid-feedback">
              <ng-container *ngIf="formPrice!.dirty; else obligatoryPrice">
                El precio debe ser mayor que 0 y menor o igual que 500000
              </ng-container>
              <ng-template #obligatoryPrice> Campo obligatorio. </ng-template>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <select id="inputState" formControlName="formState" class="form-select">
              <option selected style="color: #8190a5">Estado del producto</option>
              <option value="0">Nuevo</option>
              <option value="used">Usado</option>
            </select>
          </div> -->
        </div>
        <!-- Cantidad del producto -->
        <div class="row" style="padding-bottom: 20px">
          <div class="col">
            <label for="inputQuantity" class="form-label"
              >Cantidad de productos disponibles</label
            >
            <input
              id="inputQuantity"
              type="number"
              min="1"
              max="120"
              class="form-control"
              formControlName="formQuantityProd"
              placeholder="Cantidad de productos"
              [class.is-invalid]="formQuantityProd!.invalid && formQuantityProd!.touched"
            />
            <div class="invalid-feedback">
              <ng-container *ngIf="formQuantityProd!.dirty; else obligatoryPrice">
                La cantidad de productos debe ser mayor que 0 y menor o igual que 120
              </ng-container>
              <ng-template #obligatoryPrice> Campo obligatorio. </ng-template>
            </div>
          </div>
        </div>
        <!-- Selecciona una categoría -->
        <div class="row" style="padding-bottom: 15px">
          <div class="col">
            <label for="inputState" class="form-label"
              >Selecciona una categoría</label
            >
            <select id="inputState" formControlName="categoryID" class="form-select">
              <option value="" selected>Categorías</option>
              <option *ngFor="let cat of categorias" value="{{cat.ID_CATEGORIA}}">{{cat.NOMBRE_CATEGORIA}}</option>
            </select>
            <div
              *ngIf="categoryID!.invalid && (categoryID!.dirty || formDept!.touched)"
              class="invalid-feedback-select"
            >
              <div *ngIf="categoryID!.errors?.['required']">Campo Obligatorio.</div>
            </div>
          </div>
        </div>
        <!-- Foto del producto -->
        <div class="row" style="padding-bottom: 20px">
          <div class="col">
            <div class="mb-3">
              <label for="formFileMultiple" class="form-label"
                >Sube una foto de tu producto</label
              >
              <!-- <input
                class="form-control"
                type="file"
                id="formFileMultiple"
                multiple
              /> -->
              <input
                class="form-control"
                formControlName="formImage"
                type="text"
                id="formFileMultiple"
                [class.is-invalid]="formImage!.invalid && formImage!.touched"
              />
              <div class="invalid-feedback">
                Campo obligatorio.
              </div>
            </div>
          </div>
        </div>
        <!-- Descripción del producto -->
        <div class="row" style="padding-bottom: 20px">
          <div class="col">
            <textarea
              class="form-control"
              aria-label="With textarea"
              formControlName="formDescripcion"
              placeholder="Escribe una descripción"
              style="min-height: 100px"
              [class.is-invalid]="formDescripcion!.invalid && formDescripcion!.touched"
            ></textarea>
            <div class="invalid-feedback">
              Campo obligatorio.
            </div>
          </div>
        </div>
        <!-- Botón del producto -->
        <div class="row">
          <div class="col-md-12" *ngIf="loggedUser !== undefined">
            <button
              (click)="upload(contentSuccess, loggedUser.idUsuario)"
              class="btn btn-primary"
              type="button"
              style="
                background: #00bce4;
                color: white;
                border: #00bce4;
                border-radius: 20px;
                padding: 10px 25px 10px 25px;
              "
              [disabled]="uploadForm!.invalid"
            >
              Subir producto
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!-- Modal Subir producto -->
<!-- <ng-template #contenido3 let-modal>
  <div
    class="modal-header"
    style="
      border-radius: 20px;
      border-width: 1px;
      border-bottom-style: solid;
      text-align: center;
    "
  >
    <strong
      style="
        font-size: 25px;
        text-shadow: 1px 1px black;
        margin-left: 15px;
        color: #00bce4;
      "
      >Agregar categoria</strong
    >
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      style="margin-right: 15px"
    ></button>
  </div>
  <div class="modal-body" style="text-align: center">
    <div class="container" style="margin-top: 15px">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <input type="file" style="margin-top: 20px" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button
                class="btn btn-info"
                type="button"
                style="
                  background: #00bce4;
                  min-width: 200px;
                  margin-top: 65px;
                  border-radius: 20px;
                  min-height: 75px;
                  color: white;
                "
              >
                Agregar categoria
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row" style="margin-top: 20px">
            <div class="col">
              <input
                type="text"
                placeholder="Nombre Categoria"
                style="
                  border-radius: 20px;
                  min-width: 300px;
                  background: #eceff1;
                  border-color: #47525e36;
                  padding: 5px 15px 5px 15px;
                "
              />
            </div>
          </div>
          <div class="row" style="margin-top: 30px">
            <div class="col">
              <input
                type="text"
                placeholder="Ingrese una descripcion"
                style="
                  min-height: 150px;
                  border-radius: 20px;
                  min-width: 300px;
                  border-color: #47525e36;
                  background: #eceff1;
                "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->
