Hey {{email}}, bienvenido a la recuperacion de contraseña, puedes dar <a href="http://localhost:4200/restore">Click Aqui</a> <br>
para recuperar tu contraseña. Si crees que es un error, no hagas nada.


<small>Equipo Honduzon 2022</small>