<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body col" style="text-align: center;">
    <!-- Título y Subtítulo -->
    <div class="row" style="padding-bottom: 20px;">
        <h2 class="modal-title">Regístrate!</h2>
        <small>Ingresa tus datos.</small>
    </div>

    <form [formGroup]="registerForm">
        <!-- Zona Inputs -->
        <div class="form-floating">
            <input type="text"
                    formControlName="formName" 
                    class="border-bottom-custom form-control" 
                    id="floatingName" 
                    placeholder="Nombre"
                    [class.is-invalid]="registerForm.get('formName')!.invalid && registerForm.get('formName')!.touched">
            <label for="floatingName">Nombre</label>
        </div>
        <div class="form-floating">
            <input type="text"
                    formControlName="formLastName" 
                    class="border-bottom-custom form-control" 
                    id="floatingLastName" 
                    placeholder="Apellido"
                    [class.is-invalid]="registerForm.get('formLastName')!.invalid && registerForm.get('formLastName')!.touched">
            <label for="floatingLastName">Apellido</label>
        </div>
        <div class="form-floating">
            <input type="email" 
                    formControlName="formEmail"
                    class="border-bottom-custom form-control" 
                    id="floatingEmail" 
                    placeholder="nombre@ejemplo.com"
                    [class.is-invalid]="registerForm.get('formEmail')!.invalid && registerForm.get('formEmail')!.touched">
            <label for="floatingEmail">Correo electrónico</label>
        </div>
        <div class="form-floating">
            <input type="tel"
                formControlName="formPhone" 
                class="border-bottom-custom form-control" 
                id="floatingPhone" 
                placeholder="nombre@ejemplo.com" 
                pattern="[0-9]{4}-[0-9]{4}"
                [class.is-invalid]="registerForm.get('formPhone')!.invalid && registerForm.get('formPhone')!.touched">
            <label for="floatingPhone">Teléfono</label>
        </div>
        <select class="border-bottom-custom" id="formSelect" aria-label="Departamento">
            <option selected value="0">Departamento</option>
            <option *ngFor="let dep of deptos; let i=index" value="{{i+1}}">{{dep}}</option>
        </select>
        <div class="form-floating">
            <input type="text" 
                    formControlName="formCity"  
                    class="border-bottom-custom form-control" 
                    id="floatingCity" 
                    placeholder="Ciudad"
                    [class.is-invalid]="registerForm.get('formCity')!.invalid && registerForm.get('formCity')!.touched">
            <label for="floatingCity">Ciudad</label>
        </div>
        <div class="form-floating">
            <input type="text" 
                    formControlName="formDirection"
                    class="border-bottom-custom form-control" 
                    id="floatingDirection" 
                    placeholder="Dirección">
            <label for="floatingDirection">Dirección</label>
        </div>
        <div class="form-floating">
            <input type="password"
                    formControlName="formPassword" 
                    class="border-bottom-custom form-control" 
                    id="floatingPassword" 
                    placeholder="Contraseña"
                    [class.is-invalid]="registerForm.get('formPassword')!.invalid && registerForm.get('formPassword')!.touched">
            <label for="floatingPassword">Contraseña</label>
        </div>
        
        <!-- Términos y Condiciones -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              He leído y acepto los <a style="color:#00BCE4" href="#">Términos</a> y <a style="color:#00BCE4" href="#">Condiciones</a> de Honduzon.
            </label>
        </div>
    
        <!-- Botón Registrarse -->
        <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid" (click)="Register()">Regístrate</button>
    </form>
    
    <!-- Inicia Sesión -->
    <div class="row" style="margin-bottom: 10px;">
        <a id="texto" href="#" (click)="openLogin()">Inicia Sesión</a>
    </div>
</div>