<section class="cardsProducts">
  <div class="row" style="margin: 0 5%">
    <div class="col" style="padding: 15px; border-radius: 20px">
      <div class="card">
        <div class="card-main">
          <div class="product-contairner">
            <div class="p">
              <img src="../assets/xboxController.webp" alt="Product" />
              <div
                class="card-description"
                style="margin-bottom: 10px; color: #00bce4"
              >
                <div class="row" style="padding-top: 7px">
                  <div class="col">
                    <div class="card-title">
                      <h4>Lps. 1200</h4>
                    </div>
                  </div>
                  <div class="col" style="text-align: right; font-size: 25px">
                    <i class="far fa-heart"></i>
                  </div>
                </div>
              </div>
              <div class="card-text">
                <h6
                  class="text-muted card-subtitle mb-2"
                  style="padding-top: 10px; font-weight: bold; font-size: 18px"
                >
                  Xbox Controller
                </h6>
              </div>
              <div class="card-text">
                <p style="text-align: justify; margin: 0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                  enim possimus dolorum non, modi sunt ips.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="padding: 15px; border-radius: 20px">
      <div class="card">
        <div class="card-main">
          <div class="product-contairner">
            <div class="p">
              <img src="../assets/xboxController.webp" alt="Product" />
              <div
                class="card-description"
                style="margin-bottom: 10px; color: #00bce4"
              >
                <div class="row" style="padding-top: 7px">
                  <div class="col">
                    <div class="card-title">
                      <h4>Lps. 1200</h4>
                    </div>
                  </div>
                  <div class="col" style="text-align: right; font-size: 25px">
                    <i class="far fa-heart"></i>
                  </div>
                </div>
              </div>
              <div class="card-text">
                <h6
                  class="text-muted card-subtitle mb-2"
                  style="padding-top: 10px; font-weight: bold; font-size: 18px"
                >
                  Xbox Controller
                </h6>
              </div>
              <div class="card-text">
                <p style="text-align: justify; margin: 0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                  enim possimus dolorum non, modi sunt ips.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="padding: 15px; border-radius: 20px">
      <div class="card">
        <div class="card-main">
          <div class="product-contairner">
            <div class="p">
              <img src="../assets/xboxController.webp" alt="Product" />
              <div
                class="card-description"
                style="margin-bottom: 10px; color: #00bce4"
              >
                <div class="row" style="padding-top: 7px">
                  <div class="col">
                    <div class="card-title">
                      <h4>Lps. 1200</h4>
                    </div>
                  </div>
                  <div class="col" style="text-align: right; font-size: 25px">
                    <i class="far fa-heart"></i>
                  </div>
                </div>
              </div>
              <div class="card-text">
                <h6
                  class="text-muted card-subtitle mb-2"
                  style="padding-top: 10px; font-weight: bold; font-size: 18px"
                >
                  Xbox Controller
                </h6>
              </div>
              <div class="card-text">
                <p style="text-align: justify; margin: 0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                  enim possimus dolorum non, modi sunt ips.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="padding: 15px; border-radius: 20px">
      <div class="card">
        <div class="card-main">
          <div class="product-contairner">
            <div class="p">
              <img src="../assets/xboxController.webp" alt="Product" />
              <div
                class="card-description"
                style="margin-bottom: 10px; color: #00bce4"
              >
                <div class="row" style="padding-top: 7px">
                  <div class="col">
                    <div class="card-title">
                      <h4>Lps. 1200</h4>
                    </div>
                  </div>
                  <div class="col" style="text-align: right; font-size: 25px">
                    <i class="far fa-heart"></i>
                  </div>
                </div>
              </div>
              <div class="card-text">
                <h6
                  class="text-muted card-subtitle mb-2"
                  style="padding-top: 10px; font-weight: bold; font-size: 18px"
                >
                  Xbox Controller
                </h6>
              </div>
              <div class="card-text">
                <p style="text-align: justify; margin: 0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                  enim possimus dolorum non, modi sunt ips.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
