
<a routerLink="/product/{{item.ID_PRODUCTO}}/detail" style="text-decoration: none;">
  <div class="card">
    <div class="card-main">
      <div class="product-contairner">
        <div class="p">
          <img src="../../../../assets/{{item.ID_CATEGORIA}}_{{item.ID_PRODUCTO}}.jpg" alt="Product" />
          <div
            class="card-description"
            style="color: #00bce4"
          >
            <div class="row">
              <div class="col-9">
                <div class="card-title" style="padding-top: 4px">
                  <h4 style="margin: 0px">{{item.PRECIO | currency: 'Lps. '}}</h4>
                </div>
              </div>
              <div class="col" style="text-align: right; font-size: 25px">
                <i class="far fa-heart"></i>
              </div>
            </div>
          </div>
          <div class="card-text">
            <h6
              class="text-muted card-subtitle mb-2"
              style="padding-top: 10px; font-weight: bold; font-size: 18px"
            >
            {{item.NOMBRE_PRODUCTO}}
            </h6>
          </div>
          <div class="card-text">
            <p style="text-align: justify; margin: 0; color: #47525E">
              {{item.DESCRIPCION_PRODUCTO}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>