#iconBtn:active {
  transform: scale(0.9);
}

.personalMessage{
  border: 1px;
  border-radius: 20px;
  border-style: dashed;
  width: 40%;
  padding: 5px 20px 0px 20px;
  border-color: #8492a6;
  text-align: justify;
  background: #00bce4;
  color: white;
}

.receivedMessage{
  border: 1px;
  border-radius: 20px;
  border-style: dashed;
  width: 40%;
  padding: 5px 20px 5px 20px;
  border-color: #8492a6;
  text-align: justify;
  background: #77d353;
  color: white;
}

.selected{
  background-color: #00bce4;
  color: white;
  border-radius: 20px;
}